version: '3.8'

services:
  node:
    image: node:18.12
    volumes:
      - .:/app
      - next:/app/.next
      - node_modules:/app/node_modules
    working_dir: /app
    ports:
      - "3000:3000"
    tty: true
    environment:
      - NODE_ENV=development
      - TZ=Asia/Tokyo

volumes:
  next:
  node_modules:
